{{ define "emptyTest" }}
{{ template "header" .Page_status}}
	<main role="main" class="container page-content">
		<h1 class="text-center">Вы еще не разблокировали этого персонажа!<h1>
	</main>
{{ template "footer" }}
{{ end }}