{{ define "footer" }}
	<nav class="navbar navbar-light bg-light fixed-bottom" id="bottom-navbar">
	  <small class="text-muted">Выполнили: Марков А.К. Меньщиков Р.Д.</small>
	</nav>
</body>
<footer>
</footer>
</html>

{{ end }}